---
- name: include lihas_common
  include_role:
    name: lihas_common
  when: role_done_lihas_common is not defined
- name: remove legacy /etc/apt/sources.list.d/proxmox.list
  file:
    path: /etc/apt/sources.list.d/proxmox.list
    state: absent
  register: result
- name: extrepo enable proxmox-pve
  command:
    cmd: /usr/bin/extrepo enable proxmox-pve
  changed_when: False
  register: result
- name: set_apt_update
  set_fact:
    apt_update: True
  when: '"repository already existed" not in result.stdout'
- name: apt update
  apt:
    update_cache: True
  when: apt_update
- name: reset_apt_update
  set_fact:
    apt_update: False
  when: apt_update
- name: install software
  apt:
    name: "{{ item }}"
    state: present
    install_recommends: False
  loop:
    - proxmox-ve
    - pve-headers
    - haveged
    - wireguard-dkms
  loop_control:
    loop_var: item
- name: remove /etc/apt/sources.list.d/pve-enterprise.list
  file:
    path: /etc/apt/sources.list.d/pve-enterprise.list
    state: absent
- name: load wireguard module
  lineinfile:
    path: /etc/modules
    line: 'wireguard'
    create: yes
    owner: root
    group: root
    mode: 0444
- name: sysctl ipv4 forwarding default
  sysctl:
    name: net.ipv4.conf.default.forwarding
    sysctl_file: /etc/sysctl.d/30-ansible-proxmox.conf
    sysctl_set: yes
    value: "1"
  when: forward_ipv4 is defined
- name: sysctl ipv4 forwarding all
  sysctl:
    name: net.ipv4.conf.all.forwarding
    sysctl_file: /etc/sysctl.d/30-ansible-proxmox.conf
    sysctl_set: yes
    value: "1"
  when: forward_ipv4 is defined
- name: sysctl ipv6 forwarding default
  sysctl:
    name: net.ipv6.conf.default.forwarding
    sysctl_file: /etc/sysctl.d/30-ansible-proxmox.conf
    sysctl_set: yes
    value: "1"
  when: forward_ipv6 is defined
- name: sysctl ipv6 forwarding all
  sysctl:
    name: net.ipv6.conf.all.forwarding
    sysctl_file: /etc/sysctl.d/30-ansible-proxmox.conf
    sysctl_set: yes
    value: "1"
  when: forward_ipv6 is defined

- include: "50-proxmox.yml"
  loop: "{{ hostvars[inventory_hostname].roles.proxmox.lxc | flatten(levels=1) }}"
  loop_control:
    loop_var: lxcid
  when: hostvars[inventory_hostname].roles is defined and hostvars[inventory_hostname].roles.proxmox is defined and hostvars[inventory_hostname].roles.proxmox.lxc is defined
